# Application
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/food_delivery_db?schema=public"

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379